<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert Percentage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Convert Percentage</h1>
        <form action="/convert" method="post">
            <label for="strpercent">Enter %:</label>
            <input type="number" step="0.01" name="strpercent" required>
            <label for="strcl">Enter amount in cl:</label>
            <input type="number" step="0.01" name="strcl" required>
            <label for="endpercent">Enter desired %:</label>
            <input type="number" step="0.01" name="endpercent" required>
            <button type="submit">Convert</button>
        </form>
        {% if result %}
        <h3>Result:</h3>
        <p>{{ result }}</p>
        {% endif %}
        <a href="/" class="button">Back to Home</a>
    </div>
</body>
</html>
